.horizontal {
    display: flex;
    grid-auto-flow: row;
    grid-column-gap: 8px;
}

.vertical {
    grid-auto-flow: column;
}

.margin-small {
    margin-bottom: 8px;
}

.margin-small:last-of-type {
    margin-bottom: 0px;
}

.padding-small {
    padding: 8px
}

.divider {
    border-bottom: 1px solid var(--color-border, rgba(0, 0, 0, .1));
}

.section-title-with-icon {
    display: flex;
    grid-auto-flow: row;
}

.row {
    padding: var(--size-xxxsmall) var(--size-xxsmall) var(--size-xxxsmall) var(--size-xxsmall)
}

.tip {
    padding: 0 var(--size-xxsmall) 0 var(--size-xxsmall)
}

.align-right {
    display: flex;
    justify-content: flex-end
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

Input {
    width: 100%
}

.input__field {
    border: 1px solid var(--black1) !important;
}

button {
    padding: 0 var(--size-xxsmall) 0 var(--size-xxsmall) !important;
}

.button--tertiary {
    background-color: var(--white);
}

.icon-button {
    background-color: var(--white);
    padding: 0 !important;
}

.error-text {
    color: var(--red)
}